services:
	# - App\Model\BlogRepository
	- App\Model\UserFacade
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	- App\Router\RouterFactory::createRouter
	- App\Model\BlogFacade
	redis:
        factory: Redis
        setup:
            - connect('redis', 6379)

	
	# - App\Module\Api\Presenters\RegistrationPresenter(
    #     %jwtSecret%)
	# - Doctrine\ORM\EntityManager

