{block content}
<h1 n:block=title>Přihlášení</h1>


{control signInForm}

<div class="">
    <p>Dont have an Account?</p>
    <a class="w3-button w3-theme" href="{link Sign:register}">Sign Up</a>
</div>  

