{block content}
<br><br><br><br>
{* <h1 n:block=title>Regist</h1> *}

{control registerForm}
<div class="">
        <p>Already have an Account?</p>
        <a class="w3-button w3-theme" href="{link Sign:in}">Log in</a>
        </div>   
</div>