{block content}


<div class="w3-container w3-content" style="max-width: 1400px; margin-top: 80px;">
    <div class="w3-row-padding">

        <div class="w3-twothird" >
            <div class="w3-container w3-card w3-white w3-margin-bottom">


            <h1 class="w3-text-theme w3-padding-16 w3-center">Send message</h1>


            <br> <br>
            <h1>Create new Message</h1>

            {control messageForm}


            </div>
        </div>
    </div>
</div>  



{/block}